@model List<Chartify.Models.User>

@{
    ViewData["Title"] = "All Users";
}

<div class="row">
@foreach(var user in Model)
    {
        <div class="card m-3 bg-dark text-bg-dark p-0" style="width: 18rem">
        <img class="card-img rounded" src="@user.ProfileBannerPath" width="22rem" height="180" role="img" aria-label="P" focusable="false">
            <div class="card-img-overlay">
                <div class="row-cols-md-auto">
                    <div class="col">
                        <img class="col" width="50" height="50" src="@user.ProfilePicturePath">
                    </div>
                    <div class="col">
                        <a class="text-light nav-link card-text p-0" style="text-shadow: 0 0 3px #000000, 0 0 5px #000000;" asp-action="profile" asp-controller="User" asp-route-id="@user.Id">@user.UserName</a>
                        <p class="card-text"><small>Last seen @user.LastLoginDate.ToString("dd MMMM yyyy hh:mm tt")</small></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>