@model Chartify.Models.User;

@{
    ViewData["Title"] = $"Profile - {Model.UserName}";
}

<div>
    <img src="@Model.ProfileBannerPath" alt="ProfileBanner">
    <img src="@Model.ProfilePicturePath" alt="ProfilePicture">
    <h3>@Model.UserName</h3>
    @if (ViewBag.UserRoles != null)
    {
        @foreach (var userRole in ViewBag.UserRoles)
        {
            @foreach (var role in userRole.Value)
            {
                if (userRole.Key == @Model.UserName)
                {
                    <h4>@role</h4>
                }
            }
        }
    }

    <h3>@Model.Email</h3>

    <p>Accaunt created on: @Model.CreationDate</p>
    <p>Last seen: @Model.LastLoginDate</p>

    @if(User.Identity.Name == Model.UserName)
    {
        <p>you are you</p>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}