@model List<Chartify.ViewModels.ChartViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form class="text-white">
    <table class="table text-white">
        <thead>
            <tr>
                <th>Difficulty Name</th>
                <th>Star Rating</th>
                <th>ChartSet</th>
                <th>Creation Date</th>
                <th>Object Count</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DifficultyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DifficultyRating)
                    </td>
                    <td>
                        <a class=" nav-link card-text p-0" asp-action="Details" asp-controller="ChartSet" asp-route-id="@item.ChartSetId">@item.ChartSet.Title by @item.ChartSet.Artist</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ObjectCount)
                    </td>
                    <td class="row">
                        <a asp-action="Details" class="btn btn-info col" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Update" class="btn btn-info col" asp-route-id="@item.Id">Update</a> |
                        <a asp-action="Delete" class="btn btn-danger col" asp-route-id="@item.Id">Delete</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>