@model Chartify.ViewModels.ChartSetViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row" enctype="multipart/form-data" runat="server">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h6 class="card-title">
                                chartset info
                            </h6>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.CoverPath" max-width="250px" alt="@Model.Artist - @Model.Title">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-header">@Model.Artist - @Model.Title</h3>
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text"><b>Creator: </b>@Model.Creator.UserName</p>
                        <p class="card-text"><b>Start Date: </b>@Model.CreationDate.ToString("dd MMM yyyy")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <form method="post" asp-action="Download" enctype="multipart/form-data" runat="server">
        <input type="submit" class="btn btn-info" asp-action="Download" asp-controller="ChartSet" asp-route-id="@Model?.Id" value="Download" />
    </form>
    <a asp-action="Update" asp-route-id="@Model?.Id">Update</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
